<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953202985738-342lq9v635thsh7lf03sju6gv5npl42u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953202985738-342lq9v635thsh7lf03sju6gv5npl42u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953202985738-1ep8qbe1hf8oetvj62lavt5e6rojk9gh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDs2BbEFUgdb9_PfRqNQeHSEsdOMvTKqaA</string>
	<key>GCM_SENDER_ID</key>
	<string>953202985738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.masterji.honchiSolution</string>
	<key>PROJECT_ID</key>
	<string>masterji-19f75</string>
	<key>STORAGE_BUCKET</key>
	<string>masterji-19f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953202985738:ios:0a86ba72c619a3f2f7c8f3</string>
	<key>DATABASE_URL</key>
	<string>https://masterji-19f75.firebaseio.com</string>
</dict>
</plist>